In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\lenovo\.conda\envs\mypandas\lib\site-packages (9.0.0)

In [2]:
import pandas as pd
import mysql.connector
import numpy as np

In [3]:
# csv to dataframe
df_bus_1=pd.read_csv("APSRTC.csv")
df_bus_2=pd.read_csv("ASTC.csv")
df_bus_3=pd.read_csv("CTU.csv")
df_bus_4=pd.read_csv("HRTC.csv")
df_bus_5=pd.read_csv("KERALA_RTC.csv")
df_bus_6=pd.read_csv("KTCL.csv")
df_bus_7=pd.read_csv("RSRTC.csv")
df_bus_8=pd.read_csv("SBSTC.csv")
df_bus_9=pd.read_csv("UPSRTC.csv")
df_bus_10=pd.read_csv("WBTC.csv")

Final_df=pd.concat([df_bus_1,df_bus_2,df_bus_3,df_bus_4,df_bus_5,df_bus_6,
                    df_bus_7,df_bus_8,df_bus_9,df_bus_10],ignore_index=True)
Final_df

,Route Name,Route Link,Bus Name,Bus Type,Departure Time,Duration,Reaching Time,Bus Rating,Price,Seat Availability,Start Location,End Location,standardized_ac_type,standardized_seat_type
0,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,APSRTC - 3515,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",0 days 13:00:00,0 days 08:00:00,0 days 21:00:00,2.0,469,24,Vijayawada,Hyderabad,Non A/C,Seater
1,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,APSRTC - 3823,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",0 days 13:00:00,0 days 06:45:00,0 days 19:45:00,3.7,469,4,Vijayawada,Hyderabad,Non A/C,Seater
2,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,APSRTC - 35117,INDRA(A.C. Seater),0 days 13:00:00,0 days 06:09:00,0 days 19:09:00,3.4,567,15,Vijayawada,Hyderabad,A/C,Seater
3,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,APSRTC - 3562,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",0 days 14:00:00,0 days 06:35:00,0 days 20:35:00,2.7,436,32,Vijayawada,Hyderabad,Non A/C,Seater
4,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,APSRTC - 3571,DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),0 days 14:00:00,0 days 06:04:00,0 days 20:04:00,3.9,720,25,Vijayawada,Hyderabad,A/C,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11372,Kolkata to Asansol (West Bengal),https://www.redbus.in/bus-tickets/kolkata-to-a...,Greenline,Volvo A/C Seater (2+2),0 days 18:05:00,0 days 05:00:00,0 days 23:05:00,4.0,524,36,Kolkata,Asansol (West Bengal),A/C,Seater
11373,Kolkata to Asansol (West Bengal),https://www.redbus.in/bus-tickets/kolkata-to-a...,Royal Cruiser,Volvo A/C Seater (2+2),0 days 19:30:00,0 days 04:45:00,0 days 00:15:00,3.7,523,27,Kolkata,Asansol (West Bengal),A/C,Seater
11374,Kolkata to Asansol (West Bengal),https://www.redbus.in/bus-tickets/kolkata-to-a...,Beauty Travels,NON A/C Seater / Sleeper (2+2),0 days 20:20:00,0 days 04:10:00,0 days 00:30:00,3.0,380,36,Kolkata,Asansol (West Bengal),Non A/C,Seater/Sleeper(2+1)
11375,Kolkata to Asansol (West Bengal),https://www.redbus.in/bus-tickets/kolkata-to-a...,Pariwartan Bus Service,NON A/C Seater / Sleeper (2+2),0 days 18:30:00,0 days 06:00:00,0 days 00:30:00,2.7,500,54,Kolkata,Asansol (West Bengal),Non A/C,Seater/Sleeper(2+1)
11376,Kolkata to Asansol (West Bengal),https://www.redbus.in/bus-tickets/kolkata-to-a...,Maharani Travels,A/C Seater / Sleeper (2+1),0 days 21:05:00,0 days 04:55:00,0 days 02:00:00,0.0,740,20,Kolkata,Asansol (West Bengal),A/C,Seater/Sleeper(2+1)

In [47]:
df_bus_10.value_counts

<bound method DataFrame.value_counts of                             Route Name  \
0    Durgapur (West Bengal) to Kolkata
1    Durgapur (West Bengal) to Kolkata
2    Durgapur (West Bengal) to Kolkata
3    Durgapur (West Bengal) to Kolkata
4    Durgapur (West Bengal) to Kolkata
..                                 ...
133   Kolkata to Asansol (West Bengal)
134   Kolkata to Asansol (West Bengal)
135   Kolkata to Asansol (West Bengal)
136   Kolkata to Asansol (West Bengal)
137   Kolkata to Asansol (West Bengal)

                                            Route Link  \
0    https://www.redbus.in/bus-tickets/durgapur-to-...
1    https://www.redbus.in/bus-tickets/durgapur-to-...
2    https://www.redbus.in/bus-tickets/durgapur-to-...
3    https://www.redbus.in/bus-tickets/durgapur-to-...
4    https://www.redbus.in/bus-tickets/durgapur-to-...
..                                                 ...
133  https://www.redbus.in/bus-tickets/kolkata-to-a...
134  https://www.redbus.in/bus-tickets/kolkata-to-a...
135  https://www.redbus.in/bus-tickets/kolkata-to-a...
136  https://www.redbus.in/bus-tickets/kolkata-to-a...
137  https://www.redbus.in/bus-tickets/kolkata-to-a...

                                              Bus Name  \
0    SBSTC-ASANSOL - KARUNAMOYEE - 16:40 (ASANSOL D...
1                           Shyamoli Paribahan Pvt Ltd
2                              Greenline (Karunamoyee)
3                      SHYAMOLI Pvt. Ltd.(Karunamoyee)
4                           Shyamoli Paribahan Pvt Ltd
..                                                 ...
133                                          Greenline
134                                      Royal Cruiser
135                                     Beauty Travels
136                             Pariwartan Bus Service
137                                   Maharani Travels

                                         Bus Type   Departure Time  \
0                             Non AC Seater (2+3)  0 days 17:50:00
1                          Volvo A/C Seater (2+2)  0 days 16:55:00
2    Volvo A/C B11R Multi Axle Semi Sleeper (2+2)  0 days 17:30:00
3         Volvo Multi-Axle A/C Semi Sleeper (2+2)  0 days 17:50:00
4                          Volvo A/C Seater (2+2)  0 days 18:15:00
..                                            ...              ...
133                        Volvo A/C Seater (2+2)  0 days 18:05:00
134                        Volvo A/C Seater (2+2)  0 days 19:30:00
135                NON A/C Seater / Sleeper (2+2)  0 days 20:20:00
136                NON A/C Seater / Sleeper (2+2)  0 days 18:30:00
137                    A/C Seater / Sleeper (2+1)  0 days 21:05:00

            Duration    Reaching Time  Bus Rating  Price  Seat Availability  \
0    0 days 04:10:00  0 days 22:00:00         3.7    155                 50
1    0 days 04:00:00  0 days 20:45:00         4.1    486                 21
2    0 days 03:50:00  0 days 21:20:00         3.9    486                 26
3    0 days 03:45:00  0 days 21:35:00         4.3    486                 33
4    0 days 03:45:00  0 days 22:00:00         3.7    486                 27
..               ...              ...         ...    ...                ...
133  0 days 05:00:00  0 days 23:05:00         4.0    524                 36
134  0 days 04:45:00  0 days 00:15:00         3.7    523                 27
135  0 days 04:10:00  0 days 00:30:00         3.0    380                 36
136  0 days 06:00:00  0 days 00:30:00         2.7    500                 54
137  0 days 04:55:00  0 days 02:00:00         0.0    740                 20

             Start Location           End Location standardized_ac_type  \
0    Durgapur (West Bengal)                Kolkata              Non A/C
1    Durgapur (West Bengal)                Kolkata                  A/C
2    Durgapur (West Bengal)                Kolkata                  A/C
3    Durgapur (West Bengal)                Kolkata                  A/C
4    Durgapur (West Bengal)                Kolkata                  A/C
..                      ...                    ...                  ...
133                 Kolkata  Asansol (West Bengal)                  A/C
134                 Kolkata  Asansol (West Bengal)                  A/C
135                 Kolkata  Asansol (West Bengal)              Non A/C
136                 Kolkata  Asansol (West Bengal)              Non A/C
137                 Kolkata  Asansol (West Bengal)                  A/C

    standardized_seat_type Transport_Name
0                   Seater           WBTC
1                   Seater           WBTC
2                   Seater           WBTC
3                   Seater           WBTC
4                   Seater           WBTC
..                     ...            ...
133                 Seater           WBTC
134                 Seater           WBTC
135    Seater/Sleeper(2+1)           WBTC
136    Seater/Sleeper(2+1)           WBTC
137    Seater/Sleeper(2+1)           WBTC

[138 rows x 15 columns]>

In [4]:
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11377 entries, 0 to 11376
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Route Name              11377 non-null  object
 1   Route Link              11377 non-null  object
 2   Bus Name                11377 non-null  object
 3   Bus Type                11377 non-null  object
 4   Departure Time          11377 non-null  object
 5   Duration                11377 non-null  object
 6   Reaching Time           11377 non-null  object
 7   Bus Rating              11377 non-null  float64
 8   Price                   11377 non-null  int64
 9   Seat Availability       11377 non-null  int64
 10  Start Location          11377 non-null  object
 11  End Location            11377 non-null  object
 12  standardized_ac_type    11377 non-null  object
 13  standardized_seat_type  11377 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 1.2+ MB

In [5]:
Final_df.columns

Index(['Route Name', 'Route Link', 'Bus Name', 'Bus Type', 'Departure Time',
       'Duration', 'Reaching Time', 'Bus Rating', 'Price', 'Seat Availability',
       'Start Location', 'End Location', 'standardized_ac_type',
       'standardized_seat_type'],
      dtype='object')

In [6]:
# Assuming your DataFrame is named df
new_column_order = ['Route Link','Route Name', 'Start Location', 'End Location', 'Bus Name', 
    'Bus Type', 'standardized_ac_type', 'standardized_seat_type', 
    'Departure Time', 'Duration', 'Reaching Time', 'Bus Rating', 
    'Price', 'Seat Availability']

# Reindexing the DataFrame to the new column order
Final_df = Final_df.reindex(columns=new_column_order)
Final_df

,Route Link,Route Name,Start Location,End Location,Bus Name,Bus Type,standardized_ac_type,standardized_seat_type,Departure Time,Duration,Reaching Time,Bus Rating,Price,Seat Availability
0,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad,Vijayawada,Hyderabad,APSRTC - 3515,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",Non A/C,Seater,0 days 13:00:00,0 days 08:00:00,0 days 21:00:00,2.0,469,24
1,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad,Vijayawada,Hyderabad,APSRTC - 3823,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",Non A/C,Seater,0 days 13:00:00,0 days 06:45:00,0 days 19:45:00,3.7,469,4
2,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad,Vijayawada,Hyderabad,APSRTC - 35117,INDRA(A.C. Seater),A/C,Seater,0 days 13:00:00,0 days 06:09:00,0 days 19:09:00,3.4,567,15
3,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad,Vijayawada,Hyderabad,APSRTC - 3562,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",Non A/C,Seater,0 days 14:00:00,0 days 06:35:00,0 days 20:35:00,2.7,436,32
4,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad,Vijayawada,Hyderabad,APSRTC - 3571,DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),A/C,Other,0 days 14:00:00,0 days 06:04:00,0 days 20:04:00,3.9,720,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11372,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal),Kolkata,Asansol (West Bengal),Greenline,Volvo A/C Seater (2+2),A/C,Seater,0 days 18:05:00,0 days 05:00:00,0 days 23:05:00,4.0,524,36
11373,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal),Kolkata,Asansol (West Bengal),Royal Cruiser,Volvo A/C Seater (2+2),A/C,Seater,0 days 19:30:00,0 days 04:45:00,0 days 00:15:00,3.7,523,27
11374,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal),Kolkata,Asansol (West Bengal),Beauty Travels,NON A/C Seater / Sleeper (2+2),Non A/C,Seater/Sleeper(2+1),0 days 20:20:00,0 days 04:10:00,0 days 00:30:00,3.0,380,36
11375,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal),Kolkata,Asansol (West Bengal),Pariwartan Bus Service,NON A/C Seater / Sleeper (2+2),Non A/C,Seater/Sleeper(2+1),0 days 18:30:00,0 days 06:00:00,0 days 00:30:00,2.7,500,54
11376,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal),Kolkata,Asansol (West Bengal),Maharani Travels,A/C Seater / Sleeper (2+1),A/C,Seater/Sleeper(2+1),0 days 21:05:00,0 days 04:55:00,0 days 02:00:00,0.0,740,20

In [7]:
#Final Check before Uploading:

In [8]:
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11377 entries, 0 to 11376
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Route Link              11377 non-null  object
 1   Route Name              11377 non-null  object
 2   Start Location          11377 non-null  object
 3   End Location            11377 non-null  object
 4   Bus Name                11377 non-null  object
 5   Bus Type                11377 non-null  object
 6   standardized_ac_type    11377 non-null  object
 7   standardized_seat_type  11377 non-null  object
 8   Departure Time          11377 non-null  object
 9   Duration                11377 non-null  object
 10  Reaching Time           11377 non-null  object
 11  Bus Rating              11377 non-null  float64
 12  Price                   11377 non-null  int64
 13  Seat Availability       11377 non-null  int64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.2+ MB

In [9]:
# price is expected to be float in problem statement.

Final_df['Price'] = Final_df['Price'].astype(float).round(2)
Final_df

,Route Link,Route Name,Start Location,End Location,Bus Name,Bus Type,standardized_ac_type,standardized_seat_type,Departure Time,Duration,Reaching Time,Bus Rating,Price,Seat Availability
0,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad,Vijayawada,Hyderabad,APSRTC - 3515,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",Non A/C,Seater,0 days 13:00:00,0 days 08:00:00,0 days 21:00:00,2.0,469.0,24
1,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad,Vijayawada,Hyderabad,APSRTC - 3823,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",Non A/C,Seater,0 days 13:00:00,0 days 06:45:00,0 days 19:45:00,3.7,469.0,4
2,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad,Vijayawada,Hyderabad,APSRTC - 35117,INDRA(A.C. Seater),A/C,Seater,0 days 13:00:00,0 days 06:09:00,0 days 19:09:00,3.4,567.0,15
3,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad,Vijayawada,Hyderabad,APSRTC - 3562,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",Non A/C,Seater,0 days 14:00:00,0 days 06:35:00,0 days 20:35:00,2.7,436.0,32
4,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad,Vijayawada,Hyderabad,APSRTC - 3571,DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),A/C,Other,0 days 14:00:00,0 days 06:04:00,0 days 20:04:00,3.9,720.0,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11372,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal),Kolkata,Asansol (West Bengal),Greenline,Volvo A/C Seater (2+2),A/C,Seater,0 days 18:05:00,0 days 05:00:00,0 days 23:05:00,4.0,524.0,36
11373,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal),Kolkata,Asansol (West Bengal),Royal Cruiser,Volvo A/C Seater (2+2),A/C,Seater,0 days 19:30:00,0 days 04:45:00,0 days 00:15:00,3.7,523.0,27
11374,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal),Kolkata,Asansol (West Bengal),Beauty Travels,NON A/C Seater / Sleeper (2+2),Non A/C,Seater/Sleeper(2+1),0 days 20:20:00,0 days 04:10:00,0 days 00:30:00,3.0,380.0,36
11375,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal),Kolkata,Asansol (West Bengal),Pariwartan Bus Service,NON A/C Seater / Sleeper (2+2),Non A/C,Seater/Sleeper(2+1),0 days 18:30:00,0 days 06:00:00,0 days 00:30:00,2.7,500.0,54
11376,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal),Kolkata,Asansol (West Bengal),Maharani Travels,A/C Seater / Sleeper (2+1),A/C,Seater/Sleeper(2+1),0 days 21:05:00,0 days 04:55:00,0 days 02:00:00,0.0,740.0,20

In [10]:
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11377 entries, 0 to 11376
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Route Link              11377 non-null  object
 1   Route Name              11377 non-null  object
 2   Start Location          11377 non-null  object
 3   End Location            11377 non-null  object
 4   Bus Name                11377 non-null  object
 5   Bus Type                11377 non-null  object
 6   standardized_ac_type    11377 non-null  object
 7   standardized_seat_type  11377 non-null  object
 8   Departure Time          11377 non-null  object
 9   Duration                11377 non-null  object
 10  Reaching Time           11377 non-null  object
 11  Bus Rating              11377 non-null  float64
 12  Price                   11377 non-null  float64
 13  Seat Availability       11377 non-null  int64
dtypes: float64(2), int64(1), object(11)
memory usage: 1.2+ MB

In [11]:
# Converting to DateTime data:

Final_df['Departure Time'] = pd.to_timedelta(Final_df['Departure Time'])
Final_df['Reaching Time'] = pd.to_timedelta(Final_df['Reaching Time'])

# Converting 'Duration' to timedelta if it represents a duration
Final_df['Duration'] = pd.to_timedelta(Final_df['Duration'])

# Function to convert Timedelta to 'HH:MM' format
def timedelta_to_hhmm(td):
    return f"{td.components.hours:02}:{td.components.minutes:02}"

# Applying the conversion function to each relevant column
Final_df['Departure Time'] = Final_df['Departure Time'].apply(timedelta_to_hhmm)
Final_df['Duration'] = Final_df['Duration'].apply(timedelta_to_hhmm)
Final_df['Reaching Time'] = Final_df['Reaching Time'].apply(timedelta_to_hhmm)

In [12]:
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11377 entries, 0 to 11376
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Route Link              11377 non-null  object
 1   Route Name              11377 non-null  object
 2   Start Location          11377 non-null  object
 3   End Location            11377 non-null  object
 4   Bus Name                11377 non-null  object
 5   Bus Type                11377 non-null  object
 6   standardized_ac_type    11377 non-null  object
 7   standardized_seat_type  11377 non-null  object
 8   Departure Time          11377 non-null  object
 9   Duration                11377 non-null  object
 10  Reaching Time           11377 non-null  object
 11  Bus Rating              11377 non-null  float64
 12  Price                   11377 non-null  float64
 13  Seat Availability       11377 non-null  int64
dtypes: float64(2), int64(1), object(11)
memory usage: 1.2+ MB

In [13]:
Final_df

,Route Link,Route Name,Start Location,End Location,Bus Name,Bus Type,standardized_ac_type,standardized_seat_type,Departure Time,Duration,Reaching Time,Bus Rating,Price,Seat Availability
0,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad,Vijayawada,Hyderabad,APSRTC - 3515,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",Non A/C,Seater,13:00,08:00,21:00,2.0,469.0,24
1,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad,Vijayawada,Hyderabad,APSRTC - 3823,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",Non A/C,Seater,13:00,06:45,19:45,3.7,469.0,4
2,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad,Vijayawada,Hyderabad,APSRTC - 35117,INDRA(A.C. Seater),A/C,Seater,13:00,06:09,19:09,3.4,567.0,15
3,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad,Vijayawada,Hyderabad,APSRTC - 3562,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",Non A/C,Seater,14:00,06:35,20:35,2.7,436.0,32
4,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad,Vijayawada,Hyderabad,APSRTC - 3571,DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),A/C,Other,14:00,06:04,20:04,3.9,720.0,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11372,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal),Kolkata,Asansol (West Bengal),Greenline,Volvo A/C Seater (2+2),A/C,Seater,18:05,05:00,23:05,4.0,524.0,36
11373,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal),Kolkata,Asansol (West Bengal),Royal Cruiser,Volvo A/C Seater (2+2),A/C,Seater,19:30,04:45,00:15,3.7,523.0,27
11374,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal),Kolkata,Asansol (West Bengal),Beauty Travels,NON A/C Seater / Sleeper (2+2),Non A/C,Seater/Sleeper(2+1),20:20,04:10,00:30,3.0,380.0,36
11375,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal),Kolkata,Asansol (West Bengal),Pariwartan Bus Service,NON A/C Seater / Sleeper (2+2),Non A/C,Seater/Sleeper(2+1),18:30,06:00,00:30,2.7,500.0,54
11376,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal),Kolkata,Asansol (West Bengal),Maharani Travels,A/C Seater / Sleeper (2+1),A/C,Seater/Sleeper(2+1),21:05,04:55,02:00,0.0,740.0,20

In [14]:
# Renaming columns
Final_df.rename(columns={
    'Route Link': 'route_link',
    'Route Name': 'route_name',
    'Start Location': 'start_location',
    'End Location': 'end_location',
    'Bus Name': 'bus_name',
    'Bus Type': 'bus_type',
    'Departure Time': 'departure_time',
    'Duration': 'duration',
    'Reaching Time': 'reaching_time',
    'Bus Rating': 'bus_rating',
    'Price': 'price',
    'Seat Availability': 'seat_availability',
    'Start Time': 'start_time',
    'End Time': 'end_time'
}, inplace=True)

# Verifying the changes
print(Final_df.columns)

Index(['route_link', 'route_name', 'start_location', 'end_location',
       'bus_name', 'bus_type', 'standardized_ac_type',
       'standardized_seat_type', 'departure_time', 'duration', 'reaching_time',
       'bus_rating', 'price', 'seat_availability'],
      dtype='object')

In [15]:
# Saving Data Frame as CSV:
Final_df.to_csv('FINAL_BUSES.csv', index=False)
Final_df.columns

Index(['route_link', 'route_name', 'start_location', 'end_location',
       'bus_name', 'bus_type', 'standardized_ac_type',
       'standardized_seat_type', 'departure_time', 'duration', 'reaching_time',
       'bus_rating', 'price', 'seat_availability'],
      dtype='object')

## SQL DATABASE CREATION AND CONNECTION:

In [16]:
import mysql.connector

# Connecting to MySQL server
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Davinci1123!",
    database ="RED_BUS_DETAILS"
)
my_cursor = conn.cursor()

# Creating database if not exists
my_cursor.execute("CREATE DATABASE IF NOT EXISTS RED_BUS_DETAILS")

In [17]:
# Table Creation
# Creating table query:

# Selecting the database
my_cursor.execute("USE RED_BUS_DETAILS")

# Table Creation
create_table_query = """
CREATE TABLE IF NOT EXISTS BusDetails (
    id INT AUTO_INCREMENT PRIMARY KEY,
    route_link VARCHAR(255),
    route_name VARCHAR(255),
    start_location VARCHAR(255),
    end_location VARCHAR(255),
    bus_name VARCHAR(255),
    bus_type VARCHAR(255),
    standardized_ac_type VARCHAR(255),
    standardized_seat_type VARCHAR(255),
    departure_time TIME,
    duration TIME,
    reaching_time TIME,
    bus_rating FLOAT,
    price FLOAT,
    seat_availability INT   
)
"""

# Executing the query
my_cursor.execute(create_table_query)

print("Table Created successfully")

Table Created successfully

In [19]:
# Preparing the SQL INSERT query
insert_query = """
INSERT INTO BusDetails (
    route_link,
    route_name,
    start_location,
    end_location,
    bus_name,
    bus_type,
    standardized_ac_type,
    standardized_seat_type,
    departure_time,
    duration,
    reaching_time,
    bus_rating,
    price,
    seat_availability
) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

# Converting DataFrame to list of tuples
data = Final_df[['route_link', 'route_name', 'start_location', 'end_location',
                 'bus_name', 'bus_type', 'standardized_ac_type', 'standardized_seat_type',
                 'departure_time', 'duration', 'reaching_time', 'bus_rating',
                 'price', 'seat_availability']].values.tolist()

# Inserting data into the table
my_cursor.executemany(insert_query, data)

# Printing success message
print("Values inserted successfully")

# Commiting the changes
conn.commit()

Values inserted successfully

In [49]:
import mysql.connector

# Connecting to MySQL server
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Davinci1123!",
    database ="RED_BUS_DETAILS"
)
my_cursor = conn.cursor()

# Querying to fetch the data
query = "SELECT * FROM busdetails"

# Loading data into DataFrame
df = pd.read_sql(query, conn)

# Exporting DataFrame to CSV
df.to_csv('C:/Users/LENOVO/Desktop/Project Red Bus/busdetails.csv', index=False)

# Closing the connection
conn.close()

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_3664\3861340894.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)